<!DOCTYPE HTML>
<html>
<head>
<title>Redirecting...</title>
<body>
<script type="text/javascript">
	var lang = navigator.language;
	var match = 0;
	var locales = [{%- for locale in locales -%}"{{- locale -}}"{% if not loop.last %},{% endif %} {%- endfor -%}];

    // Try for full match of lang_LOC
	for(locale in locales)
	{
		if(lang == locales[locale])
		{
			match = 1;
			break;
		}
	}

	// Else try for match of lang
	if(match == 0)
	{
		for(locale in locales)
		{
			var loc_lang = locales[locale].substring(0,2);
			var language = lang.substring(0,2);

			if(loc_lang == language)
			{
				lang = locales[locale];
				match = 1;
				break;
			}
		}
	}

	// Else default to en-US
	if(match == 0)
	{
		lang = 'en-US';
	}

	window.location = lang + "/index.html";
</script>
</body>
</html>
